<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <!-- Context Configuration locations for Spring XML files -->
    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>-->
            <!--classpath:/spring-service-module.xml-->
            <!--classpath:/spring-controller-module.xml-->
        <!--</param-value>-->
    <!--</context-param>-->

    <!--Configuring the ROOT application context -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            <!--classpath:spring-dao-module.xml-->
            servlets
        </param-value>
    </context-param>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>


    <filter>
        <filter-name>charsetFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <!--<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>-->


    <filter-mapping>
        <filter-name>charsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--<filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>viewclients</servlet-name>
        <servlet-class>servlets.ViewClientsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>viewaccounts</servlet-name>
        <servlet-class>servlets.ViewAccountsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>addclient</servlet-name>
        <servlet-class>servlets.AddClientServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updatedeleteclient</servlet-name>
        <servlet-class>servlets.UpdateDeleteClientServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>viewclients</servlet-name>
        <url-pattern>/viewclients</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>viewaccounts</servlet-name>
        <url-pattern>/viewaccounts</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>addclient</servlet-name>
        <url-pattern>/addclient</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updatedeleteclient</servlet-name>
        <url-pattern>/updatedeleteclient</url-pattern>
    </servlet-mapping>

</web-app>